@import "bootstrap"
@import "slick-less"
@import "fancybox"


=b_a()
  content: ''
  position: absolute

=m_a()
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto


=flex()
  display: flex
  display: -webkit-flex

=j-center()
  justify-content: center
  -webkit-justify-content: center

=j-beetween()
  justify-content: space-between
  -webkit-justify-content: space-between

=j-space-around()
  justify-content: space-around
  -webkit-justify-content: space-around

=j-end()
  justify-content: flex-end
  -webkit-justify-content: flex-end

=j-start()
  justify-content: flex-start
  -webkit-justify-content: flex-start

=ai-center()
  align-items: center
  -webkit-align-items: center

=ai-start()
  align-items: flex-start
  -webkit-align-items: flex-start

=ai-end()
  align-items: flex-end
  -webkit-align-items: flex-end

=as-center()
  align-self: center
  -webkit-align-self: center

=as-end()
  align-self: flex-end
  -webkit-align-self: flex-end

=as-start()
  align-self: flex-start
  -webkit-align-self: flex-start

=wrap()
  flex-wrap: wrap
  -webkit-flex-wrap: wrap

=col()
  flex-direction: column
  -webkit-flex-direction: column


=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius


=box-shadow($box-shadow)
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow


=transform($transform)
  transform: $transform
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  -o-transform: $transform


=transition($transition_default)
  transition: $transition_default
  -webkit-transition: $transition_default
  -moz-transition: $transition_default
  -o-transition: $transition_default



@font-face
  font-family: "bootstrap-icons"
  src: url("../fonts/bootstrap-icons.woff2?8bd4575acf83c7696dc7a14a966660a3") format("woff2"), url("../fonts/bootstrap-icons.woff?8bd4575acf83c7696dc7a14a966660a3") format("woff")


@font-face
  font-family: 'Comfortaa'
  src: url('../fonts/Comfortaa.eot')
  src: local('Comfortaa'), local('Comfortaa'), url('../fonts/Comfortaa.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa.woff') format('woff'), url('../fonts/Comfortaa.ttf') format('truetype')
  font-weight: bold
  font-style: normal
$font_reg: 'Comfortaa'
@font-face 
  font-family: 'Comfortaa Bold'
  src: url('../fonts/Comfortaa-Bold.eot')
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url('../fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa-Bold.woff') format('woff'), url('../fonts/Comfortaa-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
$font: 'Comfortaa Bold'



@font-face
  font-family: 'Source Sans Pro'
  src: url('../fonts/SourceSansPro-Regular.eot')
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

$Source_Sans_Pro: 'Source Sans Pro'


$purple: #B4A2CA
$blue: #85B1D6
$brown: #C3B0A2
$grey_dark: #A9A9A9
$black: #2B2827
$transition_default: .3s linear
$grey_light: #F5F7F9
a
  color: $blue
  text-decoration: underline
  +transition($transition_default)
  &:hover, &:focus
    color: $purple
    text-decoration: none



button, input, .form-control
  outline: none

.form-control
  &:hover, &:focus
    box-shadow: none
    outline: none

[class^="bi-"]::before, [class*=" bi-"]::before
  display: inline-block
  font-family: bootstrap-icons !important
  font-style: normal
  font-weight: normal !important
  font-variant: normal
  text-transform: none
  line-height: 1
  vertical-align: -.125em
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.bi-person-circle
  &:before
    content: "\f4d7"
button
  cursor: pointer

  &:hover, &:focus
    +box-shadow(none)
    outline: none

img, video
  max-width: 100%
*
  outline: none
p
  margin-bottom: 12px
ul
  padding: 0
  margin: 0
  li
    list-style: none

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .page_title
  font-family: $font
  text-transform: uppercase

.page_title
  text-align: center
h1, .h1
  font-size: 36px
  line-height: 46px
  @media (max-width: 1200px)
    font-size: 32px
    line-height: 1.2
  @media (max-width: 1100px)
    font-size: 30px
  @media (max-width: 767px)
    font-size: 26px
  @media (max-width: 575px)
    font-size: 24px

h2, .h2
  font-size: 32px
  line-height: 28px
  margin-bottom: 30px
  @media (max-width: 1200px)
    font-size: 30px
    line-height: 1.2
    margin-bottom: 25px
  @media (max-width: 1100px)
    font-size: 28px
  @media (max-width: 767px)
    font-size: 24px
    margin-bottom: 20px
  @media (max-width: 575px)
    font-size: 22px
  &.text-center
    margin-bottom: 70px
    @media (max-width: 1200px)
      margin-bottom: 50px
    @media (max-width: 1100px)
      margin-bottom: 30px

h3, .h3
  font-size: 28px
  line-height: 28px
  @media (max-width: 1200px)
    font-size: 26px
    line-height: 1.2
  @media (max-width: 1100px)
    font-size: 24px
  @media (max-width: 767px)
    font-size: 20px
  @media (max-width: 575px)
    font-size: 18px

h4, .h4
  font-size: 26px
  line-height: 26px
  @media (max-width: 1200px)
    font-size: 24px
    line-height: 1.2
  @media (max-width: 1100px)
    font-size: 22px
  @media (max-width: 767px)
    font-size: 18px
  @media (max-width: 575px)
    font-size: 16px

.desc
  p
    font-family: $Source_Sans_Pro

.container
  width: 100%
  max-width: 1280px

@media (min-width: 1201px)
  .container
    padding-left: 20px
    padding-right: 20px
  .row
    margin-left: -20px
    margin-right: -20px
  div
    &[class^="col"]
      padding-left: 20px
      padding-right: 20px


body
  font-size: 16px
  line-height: 26px
  background: #fff
  color: $black
  font-family: $font
  @media (max-width: 575px)
    font-size: 14px
    line-height: 1.2

.wrapper
  width: 100%
  max-width: 1920px
  margin: auto
.h_row
  +flex
  +wrap
  +ai-center
  +j-beetween
  padding: 22px 0
  position: relative
  @media (max-width: 1200px)
    padding: 15px 0
  @media (max-width: 575px)
    padding: 10px 0
  .h_left
    width: 123px
    @media (max-width: 375px)
      width: 100px

  .h_right
    +flex
    +ai-center
    +j-beetween
    width: calc(100% - 123px)
    @media (max-width: 1100px)
      +j-end
    @media (max-width: 375px)
      width: calc(100% - 100px)



.btn_default
  color: #fff
  background: $purple
  font-size: 14px
  text-transform: uppercase
  font-family: $font
  font-weight: 700
  display: inline-block
  text-decoration: none
  +border-radius(30px)
  padding: 15px 30px
  @media (max-width: 1200px)
    padding: 10px 20px
  &:hover, &:focus
    text-decoration: none
    background: $blue
    color: #fff
  &.personal_link
    i
      +flex
      &:before
        font-size: 21px
    @media (min-width: 576px)
      i
        display: none

    @media (max-width: 575px)
      padding: 3px
      +flex

      span
        display: none

  &.btn_blue
    background: $blue
    &:hover, &:focus
      background: $purple



.social_menu
  +flex
  +ai-center
  li
    padding: 0 5px
    @media (max-width: 1200px)
      padding: 0 3px
    @media (max-width: 575px)
      padding: 0 2px
    a
      display: inline-block
      &:hover
        .icon
          *
            fill: $blue

.personal_box
  @media (max-width: 1100px)
    margin-left: 15px
  @media (max-width: 575px)
    margin-left: 5px

.main_menu
  @media (max-width: 1100px)
    display: none
    position: absolute
    top: 100%
    left: 0
    width: 100%
    +box-shadow(3px 6px 35px rgba(0, 0, 0, 0.1))
    +border-radius(8px)
    background: #fff
    z-index: 99
  .nav
    +flex
    +ai-center
    @media (max-width: 1100px)
      +wrap

    li
      padding: 8px
      position: relative
      @media (max-width: 1200px)
        padding: 5px
      @media (max-width: 1100px)
        width: 100%
      @media (min-width: 1101px)
        &:hover
          > .sub_menu
            display: block
      &.active
        a
          border-bottom: 2px solid $purple

      a
        text-decoration: none
        color: $black
        text-transform: uppercase
        font-size: 14px
        font-family: $font
        font-weight: 700
        padding: 3px 0
        border-bottom: 2px solid #fff
        @media (max-width: 1200px)
          font-size: 13px
        &:hover
          border-bottom: 2px solid $purple
          color: $purple
      .arrow
        position: absolute
        right: 3px
        top: 3px
        width: 30px
        height: 30px
        cursor: pointer
        &.act
          &:after
            opacity: 0
        &:before, &:after
          +b_a
          +m_a
          width: 25px
          height: 3px
          background: $purple
          +border-radius(3px)
        &:after
          +transform(rotate(90deg))
        @media (min-width: 1101px)
          display: none
      .sub_menu
        display: none
        @media (min-width: 1101px)
          position: absolute
          top: 100%
          left: 0
          min-width: 200px
          +box-shadow(3px 6px 35px rgba(0, 0, 0, 0.1))
          +border-radius(8px)
          background: #fff
          z-index: 10





.mm_btn
  width: 30px
  height: 21px
  +flex
  margin-left: 15px
  @media (max-width: 767px)
    margin-left: 10px
  @media (min-width: 1101px)
    display: none
  @media (max-width: 575px)
    width: 25px
    height: 20px
  .hamburger
    width: 30px
    height: 21px
    background: none
    border: 0
    position: relative
    @media (max-width: 575px)
      width: 25px
      height: 20px
    &.act
      span
        &:nth-child(1)
          +transform(rotate(45deg))
          top: 9px
        &:nth-child(2)
          opacity: 0
        &:nth-child(3)
          +transform(rotate(-45deg))
          bottom: 9px
    span
      position: absolute
      left: 0
      width: 100%
      height: 3px
      background: $purple
      +border-radius(3px)
      +transition($transition_default)
      @media (max-width: 575px)
        height: 2px
        +border-radius(2px)
      &:nth-child(1)
        top: 0
      &:nth-child(2)
        top: 0
        bottom: 0
        margin: auto
      &:nth-child(3)
        bottom: 0


.main_slider_item
  background-position: center
  background-size: cover
  height: 443px
  @media (max-width: 767px)
    height: 400px
  > .container
    height: 100%
    padding-top: 60px
    padding-bottom: 60px


.main_slider_content
  max-width: 280px
  @media (max-width: 1200px)
    background: rgba(255, 255, 255, 0.7)
    padding: 10px
    +border-radius(8px)
  .title
    color: $black
    font-size: 50px
    line-height: 46px
    text-transform: uppercase
    font-family: $font
    margin-bottom: 10px
    @media (max-width: 1200px)
      font-size: 45px
    @media (max-width: 1100px)
      font-size: 40px
    @media (max-width: 767px)
      font-size: 35px
    @media (max-width: 575px)
      font-size: 25px
  .sub_title
    font-family: $font
    font-size: 22px
    line-height: 24px
    margin-bottom: 30px
    @media (max-width: 1200px)
      font-size: 20px
    @media (max-width: 1100px)
      font-size: 18px
    @media (max-width: 767px)
      font-size: 16px
    @media (max-width: 575px)
      font-size: 14px




.slick-dots
  bottom: 15px
  li
    width: 12px
    height: 12px
    margin: 0 6px
    &.slick-active
      button
        background: $blue
    button
      width: 12px
      height: 12px
      background: #fff
      +border-radius(50%)
      &:before
        display: none
.slick-arrow
  width: 19px
  height: 34px
  z-index: 2
  opacity: 1
  @media (max-width: 767px)
    display: none !important
  &:before
    +b_a
    +m_a
    width: 19px
    height: 34px

.slick-prev
  left: 20px
  &:before
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='34' viewBox='0 0 19 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.4437 33.4468C18.1165 33.772 17.6812 33.9674 17.2194 33.9963C16.7577 34.0251 16.3012 33.8855 15.9356 33.6036L15.757 33.4468L0.556454 18.3345C0.229306 18.0092 0.0327802 17.5764 0.00374646 17.1173C-0.0252891 16.6582 0.11516 16.2044 0.398747 15.8409L0.556454 15.6633L15.757 0.551022C16.0989 0.212227 16.5577 0.0155337 17.0403 0.000881366C17.5228 -0.0137671 17.9928 0.154732 18.3549 0.472157C18.717 0.789578 18.944 1.23212 18.9898 1.7099C19.0355 2.18768 18.8967 2.66488 18.6014 3.04456L18.4437 3.22213L4.58649 16.9989L18.4437 30.7757C18.7999 31.1299 19 31.6103 19 32.1112C19 32.6121 18.7999 33.0925 18.4437 33.4468Z' fill='%2385B1D6'/%3e%3c/svg%3e ")

.slick-next
  right: 20px
  &:before
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='34' viewBox='0 0 19 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.556314 0.553227C0.883492 0.227978 1.3188 0.0325924 1.78056 0.00372558C2.24233 -0.0251412 2.69882 0.114495 3.0644 0.396436L3.24301 0.553227L18.4435 15.6656C18.7707 15.9908 18.9672 16.4236 18.9963 16.8827C19.0253 17.3418 18.8848 17.7956 18.6013 18.1591L18.4435 18.3367L3.24301 33.449C2.90108 33.7878 2.44226 33.9845 1.95973 33.9991C1.47721 34.0138 1.00717 33.8453 0.645087 33.5278C0.283 33.2104 0.0560157 32.7679 0.0102362 32.2901C-0.0355432 31.8123 0.103315 31.3351 0.398608 30.9554L0.556314 30.7779L14.4135 17.0011L0.556314 3.22433C0.200107 2.87008 0 2.38968 0 1.88878C0 1.38787 0.200107 0.907474 0.556314 0.553227Z' fill='%2385B1D6'/%3e%3c/svg%3e ")



section
  padding: 100px 0
  @media (max-width: 1200px)
    padding: 70px 0
  @media (max-width: 1100px)
    padding: 50px 0
  @media (max-width: 767px)
    padding: 30px 0

.grey_light
  background: $grey_light

.pr_row
  +j-center
  > div
    @media (max-width: 1200px)
      margin-bottom: 20px
    @media (max-width: 575px)
      &:last-child
        margin-bottom: 0
.pr_item
  background: #fff
  +box-shadow(0px 0px 30px rgba(0, 0, 0, 0.02))
  +border-radius(8px)
  padding: 25px
  +flex
  +ai-end
  min-height: 270px
  @media (max-width: 1200px)
    padding: 20px
  @media (max-width: 767px)
    padding: 15px
  @media (max-width: 767px)
    min-height: auto
  @media (max-width: 575px)
    text-align: center
  picture
    display: inline-block
    margin-bottom: 15px
    @media (min-width: 576px)
      height: 100px
  .text
    color: $blue
    font-size: 16px
    line-height: 26px
    font-family: $font
    text-transform: uppercase
    @media (max-width: 1200px)
      font-size: 14px
      line-height: 1.3
    @media (min-width: 768px)
      min-height: 78px






img
  &.b_radius
    +border-radius(8px)
    +box-shadow(0px 0px 30px rgba(0, 0, 0, 0.06))

.seo_text
  @media (max-width: 575px)
    text-align: center

.main_membership
  background: #DFE5E3
  @media (max-width: 575px)
    text-align: center
  .m_logo
    margin-bottom: 30px
    @media (max-width: 767px)
      margin-bottom: 20px
  .h2, h2
    margin-bottom: 22px
    @media (max-width: 767px)
      margin-bottom: 15px
  .text
    font-family:  $font
    margin-bottom: 35px
    @media (max-width: 1200px)
      margin-bottom: 30px
    @media (max-width: 767px)
      margin-bottom: 25px

  .btn_default
    width: 100%
    max-width: 255px
    text-align: center



.products_container
  @media (min-width: 1201px)
    padding-bottom: 60px

.products_list, .cards_list
  > div
    margin-bottom: 40px
    @media (max-width: 1200px)
      margin-bottom: 20px
.product_item
  width: 100%
  +box-shadow( 0px 0px 30px rgba(0, 0, 0, 0.02))
  +border-radius(8px)
  background: #fff
  text-align: center
  padding: 27px 20px 40px
  @media (max-width: 1200px)
    padding: 20px 20px 30px
  @media (max-width: 767px)
    padding: 20px
  .product_img_link
    display: inline-block
    position: relative
    height: 258px
    width: 100%
    margin-bottom: 15px
    @media (max-width: 1200px)
      height: 240px
    @media (max-width: 767px)
      height: 200px
    img
      position: absolute
      +m_a
      max-width: 99%
      max-height: 99%
  .btn_default
    width: 100%
    text-align: center
.product_item_name
  color: $blue
  font-size: 18px
  line-height: 26px
  text-transform: uppercase
  text-decoration: none
  margin-bottom: 15px
  text-align: center

  @media (max-width: 1200px)
    font-size: 16px
  @media (max-width: 767px)
    font-size: 14px
    margin-bottom: 10px
  @media (min-width: 768px)
    +flex
    +ai-center
    +j-center
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    white-space: normal
    -webkit-line-clamp: 2
    height: 50px

  &:hover, &:focus
    color: $purple

.scores
  color: $grey_dark
  font-size: 18px
  margin-bottom: 12px
  text-align: center
  @media (max-width: 1200px)
    font-size: 16px
  @media (max-width: 767px)
    font-size: 14px
.date
  color: $grey_dark
  font-size: 14px
  margin-bottom: 12px
  text-align: center

.card_item_name
  color: $blue
  font-size: 20px
  line-height: 26px
  text-transform: uppercase
  text-decoration: none
  margin-bottom: 0
  text-align: center
  display: block
  @media (max-width: 1200px)
    font-size: 18px
  @media (max-width: 1100px)
    font-size: 16px
  @media (min-width: 768px)
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    white-space: normal
    -webkit-line-clamp: 2
    height: 50px
.products_slider
  .slick-dots
    bottom: -25px
.card_item
  padding: 7px 7px 30px
  background: #fff
  +box-shadow( 0px 0px 30px rgba(0, 0, 0, 0.02))
  +border-radius(8px)

  .btn_default
    width: 100%
    max-width: 203px
    margin: auto
    +flex
    +ai-center
    +j-center

.card_img_link
  display: inline-block
  width: 100%
  height: 300px
  background-size: cover
  background-position: center
  //background-repeat: no-repeat
  +border-radius(8px)
  margin-bottom: 20px
  @media (max-width: 1200px)
    height: 250px
    margin-bottom: 10px
  @media (max-width: 1100px)
    height: 220px
.card_item_body
  +flex
  +col
  +j-beetween
  min-height: 147px
.blue
  color: $blue

.main_contacts
  @media (max-width: 575px)
    text-align: center
  .c_group
    max-width: 400px
    margin-bottom: 30px
    &:last-of-type
      @media (min-width: 1201px)
        margin-bottom: 85px


    .blue
      font-size: 20px
      line-height: 26px
      margin-bottom: 3px
      @media (max-width: 1200px)
        font-size: 18px
        line-height: 1.2
      @media (max-width: 767px)
        font-size: 16px
    a
      color: $black
      text-decoration: none
      font-size: 20px
      @media (max-width: 1200px)
        font-size: 18px
      @media (max-width: 767px)
        font-size: 16px
      &.tel
        font-size: 30px
        line-height: 28px
        @media (max-width: 1200px)
          font-size: 28px
          line-height: 1.2
        @media (max-width: 767px)
          font-size: 24px

  .grey
    color: $grey_dark
    font-size: 16px
    line-height: 24px
    font-family: $font_reg
    max-width: 454px
    @media (max-width: 1200px)
      font-size: 14px
      line-height: 1.2

footer
  border-top: 2px solid #F5F7F9
  padding: 60px 0 50px
  @media (max-width: 1200px)
    padding: 40px 0 30px
  @media (max-width: 1100px)
    padding: 30px 0
  @media (max-width: 767px)
    text-align: center

.f_logo
  margin-bottom: 25px

.f_row
  @media (max-width: 767px)
    .order_m1
      order: 1
      margin-bottom: 20px
    .order_m2
      order: 2

.f_desc
  color: $black
  font-size: 15px
  line-height: 22px
  font-family: $Source_Sans_Pro
  max-width: 500px
  margin-bottom: 25px

.copyright
  color: $black
  opacity: 0.6
  font-size: 15px
  font-family: $Source_Sans_Pro
  @media (max-width: 767px)
    font-size: 14px

.f_title
  color: $blue
  font-size: 18px
  text-transform: uppercase
  font-family: $font_reg
  margin-bottom: 10px
  @media (max-width: 767px)
    margin-bottom: 5px
    font-size: 16px
.f_menu
  @media (max-width: 767px)
    margin-bottom: 20px
  li
    margin-bottom: 5px
    a
      color: $black
      text-decoration: none
      font-family: $Source_Sans_Pro
      font-size: 16px
      &:hover, &:focus
        text-decoration: none
        color: $blue

.fc_group
  &:first-of-type
    margin-bottom: 40px
  p, a
    color: $black
    text-decoration: none
    font-size: 16px
    font-family: $Source_Sans_Pro
    line-height: 26px
    @media (max-width: 767px)
      font-size: 14px
  a
    &:hover
      color: $blue


.page_content
  background: $grey_light
  padding-top: 15px
  @media (max-width: 1100px)
    padding-top: 8px
.page_title
  margin-bottom: 60px
  @media (max-width: 1200px)
    margin-bottom: 40px
  @media (max-width: 767px)
    margin-bottom: 30px
.breadcrumb
  background: none
  padding: 0
  margin-bottom: 5px
  li
    position: relative
    padding: 0 10px
    &:first-child
      padding-left: 0
    + li
      &:before
        content: '/'
        position: absolute
        left: -3px
        top: 1px
        bottom: 0
        margin: auto
        @media (max-width: 1100px)
          top: 5px
    a
      color: $black
      font-size: 15px
      font-family: $Source_Sans_Pro
      line-height: 26px
      text-decoration: none
      @media (max-width: 1100px)
        font-size: 13px
      &:hover
        text-decoration: none
        color: $blue

.pagination
  +flex
  +j-center
  padding-top: 7px
  ul
    +flex
    +ai-center
    +wrap
    +j-center
    li
      padding: 3px
      &.active
        a
          color: #fff
          background: $brown
      a
        width: 49px
        height: 49px
        +flex
        +ai-center
        +j-center
        +border-radius(50%)
        background: #fff
        color: $brown
        text-decoration: none
        font-size: 20px
        font: $font
        @media (max-width: 1100px)
          width: 40px
          height: 40px
          font-size: 18px
        @media (max-width: 767px)
          font-size: 16px
          width: 35px
          height: 35px
        &:hover
          color: #fff
          background: $brown







