@import "bootstrap"
@import "slick-less"
@import "fancybox"


=b_a()
  content: ''
  position: absolute

=m_a()
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto


=flex()
  display: flex
  display: -webkit-flex

=j-center()
  justify-content: center
  -webkit-justify-content: center

=j-beetween()
  justify-content: space-between
  -webkit-justify-content: space-between

=j-space-around()
  justify-content: space-around
  -webkit-justify-content: space-around

=j-end()
  justify-content: flex-end
  -webkit-justify-content: flex-end

=j-start()
  justify-content: flex-start
  -webkit-justify-content: flex-start

=ai-center()
  align-items: center
  -webkit-align-items: center

=ai-start()
  align-items: flex-start
  -webkit-align-items: flex-start

=ai-end()
  align-items: flex-end
  -webkit-align-items: flex-end

=as-center()
  align-self: center
  -webkit-align-self: center

=as-end()
  align-self: flex-end
  -webkit-align-self: flex-end

=as-start()
  align-self: flex-start
  -webkit-align-self: flex-start

=wrap()
  flex-wrap: wrap
  -webkit-flex-wrap: wrap

=col()
  flex-direction: column
  -webkit-flex-direction: column


=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius


=box-shadow($box-shadow)
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow


=transform($transform)
  transform: $transform
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  -o-transform: $transform


=transition($transition_default)
  transition: $transition_default
  -webkit-transition: $transition_default
  -moz-transition: $transition_default
  -o-transition: $transition_default



@font-face
  font-family: "bootstrap-icons"
  src: url("../fonts/bootstrap-icons.woff2?8bd4575acf83c7696dc7a14a966660a3") format("woff2"), url("../fonts/bootstrap-icons.woff?8bd4575acf83c7696dc7a14a966660a3") format("woff")


@font-face
  font-family: 'Comfortaa'
  src: url('../fonts/Comfortaa.eot')
  src: local('Comfortaa'), local('Comfortaa'), url('../fonts/Comfortaa.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa.woff') format('woff'), url('../fonts/Comfortaa.ttf') format('truetype')
  font-weight: bold
  font-style: normal
$font_reg: 'Comfortaa'
@font-face 
  font-family: 'Comfortaa Bold'
  src: url('../fonts/Comfortaa-Bold.eot')
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url('../fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa-Bold.woff') format('woff'), url('../fonts/Comfortaa-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
$font: 'Comfortaa Bold'



@font-face
  font-family: 'Source Sans Pro'
  src: url('../fonts/SourceSansPro-Regular.eot')
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

$Source_Sans_Pro: 'Source Sans Pro'


$purple: #B4A2CA
$blue: #85B1D6
$brown: #C3B0A2
$grey_dark: #A9A9A9
$black: #2B2827
$transition_default: .3s linear
$grey_light: #F5F7F9
a
  color: $blue
  text-decoration: underline
  +transition($transition_default)
  &:hover, &:focus
    color: $purple
    text-decoration: none



button, input, .form-control
  outline: none

.form-control
  &:hover, &:focus
    box-shadow: none
    outline: none

[class^="bi-"]::before, [class*=" bi-"]::before
  display: inline-block
  font-family: bootstrap-icons !important
  font-style: normal
  font-weight: normal !important
  font-variant: normal
  text-transform: none
  line-height: 1
  vertical-align: -.125em
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.bi-person-circle
  &:before
    content: "\f4d7"
button
  cursor: pointer

  &:hover, &:focus
    +box-shadow(none)
    outline: none

img, video
  max-width: 100%
*
  outline: none
p
  margin-bottom: 12px
ul
  padding: 0
  margin: 0
  li
    list-style: none

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .page_title
  font-family: $font
  text-transform: uppercase

.page_title
  text-align: center
h1, .h1
  font-size: 36px
  line-height: 46px
  @media (max-width: 1200px)
    font-size: 32px
    line-height: 1.2
  @media (max-width: 1100px)
    font-size: 30px
  @media (max-width: 767px)
    font-size: 26px
  @media (max-width: 575px)
    font-size: 22px

h2, .h2
  font-size: 32px
  line-height: 28px
  margin-bottom: 30px
  @media (max-width: 1200px)
    font-size: 30px
    line-height: 1.2
    margin-bottom: 25px
  @media (max-width: 1100px)
    font-size: 28px
  @media (max-width: 767px)
    font-size: 24px
    margin-bottom: 20px
  @media (max-width: 575px)
    font-size: 22px
  &.text-center
    margin-bottom: 70px
    @media (max-width: 1200px)
      margin-bottom: 50px
    @media (max-width: 1100px)
      margin-bottom: 30px

h3, .h3
  font-size: 28px
  line-height: 28px
  @media (max-width: 1200px)
    font-size: 26px
    line-height: 1.2
  @media (max-width: 1100px)
    font-size: 24px
  @media (max-width: 767px)
    font-size: 20px
  @media (max-width: 575px)
    font-size: 18px

h4, .h4
  font-size: 26px
  line-height: 26px
  @media (max-width: 1200px)
    font-size: 24px
    line-height: 1.2
  @media (max-width: 1100px)
    font-size: 22px
  @media (max-width: 767px)
    font-size: 18px
  @media (max-width: 575px)
    font-size: 16px

.desc
  p
    font-family: $Source_Sans_Pro

.container
  width: 100%
  max-width: 1280px

@media (min-width: 1201px)
  .container
    padding-left: 20px
    padding-right: 20px
  .row
    margin-left: -20px
    margin-right: -20px
  div
    &[class^="col"]
      padding-left: 20px
      padding-right: 20px


body
  font-size: 16px
  line-height: 26px
  background: #fff
  color: $black
  font-family: $font
  @media (max-width: 575px)
    font-size: 14px
    line-height: 1.2

.wrapper
  width: 100%
  max-width: 1920px
  margin: auto
.h_row
  +flex
  +wrap
  +ai-center
  +j-beetween
  padding: 22px 0
  position: relative
  @media (max-width: 1200px)
    padding: 15px 0
  @media (max-width: 575px)
    padding: 10px 0
  .h_left
    width: 123px
    @media (max-width: 375px)
      width: 100px

  .h_right
    +flex
    +ai-center
    +j-beetween
    width: calc(100% - 123px)
    @media (max-width: 1100px)
      +j-end
    @media (max-width: 375px)
      width: calc(100% - 100px)



.btn_default
  color: #fff
  background: $purple
  font-size: 14px
  text-transform: uppercase
  font-family: $font
  font-weight: 700
  display: inline-block
  text-decoration: none
  +border-radius(30px)
  padding: 15px 30px
  border: 0
  @media (max-width: 1200px)
    padding: 10px 20px
  &:hover, &:focus
    text-decoration: none
    background: $blue
    color: #fff
  &.personal_link
    i
      +flex
      &:before
        font-size: 21px
    @media (min-width: 576px)
      i
        display: none

    @media (max-width: 575px)
      padding: 3px
      +flex

      span
        display: none

  &.btn_blue
    background: $blue
    &:hover, &:focus
      background: $purple



.social_menu
  +flex
  +ai-center
  li
    padding: 0 5px
    @media (max-width: 1200px)
      padding: 0 3px
    @media (max-width: 575px)
      padding: 0 2px
    a
      display: inline-block
      &:hover
        .icon
          *
            fill: $blue

.personal_box
  @media (max-width: 1100px)
    margin-left: 15px
  @media (max-width: 575px)
    margin-left: 5px

.main_menu
  @media (max-width: 1100px)
    display: none
    position: absolute
    top: 100%
    left: 0
    width: 100%
    +box-shadow(3px 6px 35px rgba(0, 0, 0, 0.1))
    +border-radius(8px)
    background: #fff
    z-index: 99
  .nav
    +flex
    +ai-center
    @media (max-width: 1100px)
      +wrap

    li
      padding: 8px
      position: relative
      @media (max-width: 1200px)
        padding: 5px
      @media (max-width: 1100px)
        width: 100%
      @media (min-width: 1101px)
        &:hover
          > .sub_menu
            display: block
      &.active
        a
          border-bottom: 2px solid $purple

      a
        text-decoration: none
        color: $black
        text-transform: uppercase
        font-size: 14px
        font-family: $font
        font-weight: 700
        padding: 3px 0
        border-bottom: 2px solid #fff
        @media (max-width: 1200px)
          font-size: 13px
        &:hover
          border-bottom: 2px solid $purple
          color: $purple
      .arrow
        position: absolute
        right: 3px
        top: 3px
        width: 30px
        height: 30px
        cursor: pointer
        &.act
          &:after
            opacity: 0
        &:before, &:after
          +b_a
          +m_a
          width: 25px
          height: 3px
          background: $purple
          +border-radius(3px)
        &:after
          +transform(rotate(90deg))
        @media (min-width: 1101px)
          display: none
      .sub_menu
        display: none
        @media (min-width: 1101px)
          position: absolute
          top: 100%
          left: 0
          min-width: 200px
          +box-shadow(3px 6px 35px rgba(0, 0, 0, 0.1))
          +border-radius(8px)
          background: #fff
          z-index: 10





.mm_btn
  width: 30px
  height: 21px
  +flex
  margin-left: 15px
  @media (max-width: 767px)
    margin-left: 10px
  @media (min-width: 1101px)
    display: none
  @media (max-width: 575px)
    width: 25px
    height: 20px
  .hamburger
    width: 30px
    height: 21px
    background: none
    border: 0
    position: relative
    @media (max-width: 575px)
      width: 25px
      height: 20px
    &.act
      span
        &:nth-child(1)
          +transform(rotate(45deg))
          top: 9px
        &:nth-child(2)
          opacity: 0
        &:nth-child(3)
          +transform(rotate(-45deg))
          bottom: 9px
    span
      position: absolute
      left: 0
      width: 100%
      height: 3px
      background: $purple
      +border-radius(3px)
      +transition($transition_default)
      @media (max-width: 575px)
        height: 2px
        +border-radius(2px)
      &:nth-child(1)
        top: 0
      &:nth-child(2)
        top: 0
        bottom: 0
        margin: auto
      &:nth-child(3)
        bottom: 0


.main_slider_item
  background-position: center
  background-size: cover
  height: 443px
  @media (max-width: 767px)
    height: 400px
  > .container
    height: 100%
    padding-top: 60px
    padding-bottom: 60px


.main_slider_content
  max-width: 280px
  @media (max-width: 1200px)
    background: rgba(255, 255, 255, 0.7)
    padding: 10px
    +border-radius(8px)
  .title
    color: $black
    font-size: 50px
    line-height: 46px
    text-transform: uppercase
    font-family: $font
    margin-bottom: 10px
    @media (max-width: 1200px)
      font-size: 45px
    @media (max-width: 1100px)
      font-size: 40px
    @media (max-width: 767px)
      font-size: 35px
    @media (max-width: 575px)
      font-size: 25px
  .sub_title
    font-family: $font
    font-size: 22px
    line-height: 24px
    margin-bottom: 30px
    @media (max-width: 1200px)
      font-size: 20px
    @media (max-width: 1100px)
      font-size: 18px
    @media (max-width: 767px)
      font-size: 16px
    @media (max-width: 575px)
      font-size: 14px




.slick-dots
  bottom: 15px
  li
    width: 12px
    height: 12px
    margin: 0 6px
    &.slick-active
      button
        background: $blue
    button
      width: 12px
      height: 12px
      background: #fff
      +border-radius(50%)
      &:before
        display: none
.slick-arrow
  width: 19px
  height: 34px
  z-index: 2
  opacity: 1
  @media (max-width: 767px)
    display: none !important
  &:before
    +b_a
    +m_a
    width: 19px
    height: 34px

.slick-prev
  left: 20px
  &:before
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='34' viewBox='0 0 19 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.4437 33.4468C18.1165 33.772 17.6812 33.9674 17.2194 33.9963C16.7577 34.0251 16.3012 33.8855 15.9356 33.6036L15.757 33.4468L0.556454 18.3345C0.229306 18.0092 0.0327802 17.5764 0.00374646 17.1173C-0.0252891 16.6582 0.11516 16.2044 0.398747 15.8409L0.556454 15.6633L15.757 0.551022C16.0989 0.212227 16.5577 0.0155337 17.0403 0.000881366C17.5228 -0.0137671 17.9928 0.154732 18.3549 0.472157C18.717 0.789578 18.944 1.23212 18.9898 1.7099C19.0355 2.18768 18.8967 2.66488 18.6014 3.04456L18.4437 3.22213L4.58649 16.9989L18.4437 30.7757C18.7999 31.1299 19 31.6103 19 32.1112C19 32.6121 18.7999 33.0925 18.4437 33.4468Z' fill='%2385B1D6'/%3e%3c/svg%3e ")

.slick-next
  right: 20px
  &:before
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='34' viewBox='0 0 19 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.556314 0.553227C0.883492 0.227978 1.3188 0.0325924 1.78056 0.00372558C2.24233 -0.0251412 2.69882 0.114495 3.0644 0.396436L3.24301 0.553227L18.4435 15.6656C18.7707 15.9908 18.9672 16.4236 18.9963 16.8827C19.0253 17.3418 18.8848 17.7956 18.6013 18.1591L18.4435 18.3367L3.24301 33.449C2.90108 33.7878 2.44226 33.9845 1.95973 33.9991C1.47721 34.0138 1.00717 33.8453 0.645087 33.5278C0.283 33.2104 0.0560157 32.7679 0.0102362 32.2901C-0.0355432 31.8123 0.103315 31.3351 0.398608 30.9554L0.556314 30.7779L14.4135 17.0011L0.556314 3.22433C0.200107 2.87008 0 2.38968 0 1.88878C0 1.38787 0.200107 0.907474 0.556314 0.553227Z' fill='%2385B1D6'/%3e%3c/svg%3e ")



section
  padding: 100px 0
  @media (max-width: 1200px)
    padding: 70px 0
  @media (max-width: 1100px)
    padding: 50px 0
  @media (max-width: 767px)
    padding: 30px 0

.grey_light
  background: $grey_light

.pr_row
  +j-center
  > div
    @media (max-width: 1200px)
      margin-bottom: 20px
    @media (max-width: 575px)
      &:last-child
        margin-bottom: 0
.pr_item
  background: #fff
  +box-shadow(0px 0px 30px rgba(0, 0, 0, 0.02))
  +border-radius(8px)
  padding: 25px
  +flex
  +ai-end
  min-height: 270px
  @media (max-width: 1200px)
    padding: 20px
  @media (max-width: 767px)
    padding: 15px
  @media (max-width: 767px)
    min-height: auto
  @media (max-width: 575px)
    text-align: center
  picture
    display: inline-block
    margin-bottom: 15px
    @media (min-width: 576px)
      height: 100px
  .text
    color: $blue
    font-size: 16px
    line-height: 26px
    font-family: $font
    text-transform: uppercase
    @media (max-width: 1200px)
      font-size: 14px
      line-height: 1.3
    @media (min-width: 768px)
      min-height: 78px






img
  &.b_radius
    +border-radius(8px)
    +box-shadow(0px 0px 30px rgba(0, 0, 0, 0.06))

.seo_text
  @media (max-width: 575px)
    text-align: center

.main_membership
  background: #DFE5E3
  @media (max-width: 575px)
    text-align: center
  .m_logo
    margin-bottom: 30px
    @media (max-width: 767px)
      margin-bottom: 20px
  .h2, h2
    margin-bottom: 22px
    @media (max-width: 767px)
      margin-bottom: 15px
  .text
    font-family:  $font
    margin-bottom: 35px
    @media (max-width: 1200px)
      margin-bottom: 30px
    @media (max-width: 767px)
      margin-bottom: 25px

  .btn_default
    width: 100%
    max-width: 255px
    text-align: center



.products_container
  @media (min-width: 1201px)
    padding-bottom: 60px

.products_list, .cards_list
  > div
    margin-bottom: 40px
    @media (max-width: 1200px)
      margin-bottom: 20px
.product_item
  width: 100%
  +box-shadow( 0px 0px 30px rgba(0, 0, 0, 0.02))
  +border-radius(8px)
  background: #fff
  text-align: center
  padding: 27px 20px 40px
  @media (max-width: 1200px)
    padding: 20px 20px 30px
  @media (max-width: 767px)
    padding: 20px
  .product_img_link
    display: inline-block
    position: relative
    height: 258px
    width: 100%
    margin-bottom: 15px
    @media (max-width: 1200px)
      height: 240px
    @media (max-width: 767px)
      height: 200px
    img
      position: absolute
      +m_a
      max-width: 99%
      max-height: 99%
  .btn_default
    width: 100%
    text-align: center
.product_item_name
  color: $blue
  font-size: 18px
  line-height: 26px
  text-transform: uppercase
  text-decoration: none
  margin-bottom: 15px
  text-align: center

  @media (max-width: 1200px)
    font-size: 16px
  @media (max-width: 767px)
    font-size: 14px
    margin-bottom: 10px
  @media (min-width: 768px)
    +flex
    +ai-center
    +j-center
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    white-space: normal
    -webkit-line-clamp: 2
    height: 50px

  &:hover, &:focus
    color: $purple

.scores
  color: $grey_dark
  font-size: 18px
  margin-bottom: 12px
  text-align: center
  @media (max-width: 1200px)
    font-size: 16px
  @media (max-width: 767px)
    font-size: 14px
.date
  color: $grey_dark
  font-size: 14px
  margin-bottom: 12px
  text-align: center

.card_item_name
  color: $blue
  font-size: 20px
  line-height: 26px
  text-transform: uppercase
  text-decoration: none
  margin-bottom: 0
  text-align: center
  display: block
  @media (max-width: 1200px)
    font-size: 18px
  @media (max-width: 1100px)
    font-size: 16px
  @media (min-width: 768px)
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    white-space: normal
    -webkit-line-clamp: 2
    height: 50px
.products_slider
  .slick-dots
    bottom: -25px
.card_item
  padding: 7px 7px 30px
  background: #fff
  +box-shadow( 0px 0px 30px rgba(0, 0, 0, 0.02))
  +border-radius(8px)

  .btn_default
    width: 100%
    max-width: 203px
    margin: auto
    +flex
    +ai-center
    +j-center

.card_img_link
  display: inline-block
  width: 100%
  height: 300px
  background-size: cover
  background-position: center
  //background-repeat: no-repeat
  +border-radius(8px)
  margin-bottom: 20px
  @media (max-width: 1200px)
    height: 250px
    margin-bottom: 10px
  @media (max-width: 1100px)
    height: 220px
.card_item_body
  +flex
  +col
  +j-beetween
  min-height: 147px
.blue
  color: $blue

.main_contacts
  @media (max-width: 575px)
    text-align: center
  .c_group
    max-width: 400px
    margin-bottom: 30px
    &:last-of-type
      @media (min-width: 1201px)
        margin-bottom: 85px


    .blue
      font-size: 20px
      line-height: 26px
      margin-bottom: 3px
      @media (max-width: 1200px)
        font-size: 18px
        line-height: 1.2
      @media (max-width: 767px)
        font-size: 16px
    a
      color: $black
      text-decoration: none
      font-size: 20px
      @media (max-width: 1200px)
        font-size: 18px
      @media (max-width: 767px)
        font-size: 16px
      &.tel
        font-size: 30px
        line-height: 28px
        @media (max-width: 1200px)
          font-size: 28px
          line-height: 1.2
        @media (max-width: 767px)
          font-size: 24px

  .grey
    color: $grey_dark
    font-size: 16px
    line-height: 24px
    font-family: $font_reg
    max-width: 454px
    @media (max-width: 1200px)
      font-size: 14px
      line-height: 1.2

footer
  border-top: 2px solid #F5F7F9
  padding: 60px 0 50px
  @media (max-width: 1200px)
    padding: 40px 0 30px
  @media (max-width: 1100px)
    padding: 30px 0
  @media (max-width: 767px)
    text-align: center

.f_logo
  margin-bottom: 25px

.f_row
  @media (max-width: 767px)
    .order_m1
      order: 1
      margin-bottom: 20px
    .order_m2
      order: 2

.f_desc
  color: $black
  font-size: 15px
  line-height: 22px
  font-family: $Source_Sans_Pro
  max-width: 500px
  margin-bottom: 25px
  @media (max-width: 767px)
    max-width: 100%

.copyright
  color: $black
  opacity: 0.6
  font-size: 15px
  font-family: $Source_Sans_Pro
  @media (max-width: 767px)
    font-size: 14px

.f_title
  color: $blue
  font-size: 18px
  text-transform: uppercase
  font-family: $font_reg
  margin-bottom: 10px
  @media (max-width: 767px)
    margin-bottom: 5px
    font-size: 16px
.f_menu
  @media (max-width: 767px)
    margin-bottom: 20px
  li
    margin-bottom: 5px
    a
      color: $black
      text-decoration: none
      font-family: $Source_Sans_Pro
      font-size: 16px
      &:hover, &:focus
        text-decoration: none
        color: $blue

.fc_group
  &:first-of-type
    margin-bottom: 40px
  p, a
    color: $black
    text-decoration: none
    font-size: 16px
    font-family: $Source_Sans_Pro
    line-height: 26px
    @media (max-width: 767px)
      font-size: 14px
  a
    &:hover
      color: $blue


.page_content
  background: $grey_light
  padding-top: 15px
  @media (max-width: 1100px)
    padding-top: 8px
  &.pb
    @media (min-width: 1201px)
      padding-bottom: 75px
.page_title
  margin-bottom: 60px
  @media (max-width: 1200px)
    margin-bottom: 40px
  @media (max-width: 767px)
    margin-bottom: 30px
.breadcrumb
  background: none
  padding: 0
  margin-bottom: 5px
  li
    position: relative
    padding: 0 10px
    &:first-child
      padding-left: 0
    + li
      &:before
        content: '/'
        position: absolute
        left: -3px
        top: 1px
        bottom: 0
        margin: auto
        @media (max-width: 1100px)
          top: 5px
    a
      color: $black
      font-size: 15px
      font-family: $Source_Sans_Pro
      line-height: 26px
      text-decoration: none
      @media (max-width: 1100px)
        font-size: 13px
      &:hover
        text-decoration: none
        color: $blue

.pagination
  +flex
  +j-center
  padding-top: 7px
  ul
    +flex
    +ai-center
    +wrap
    +j-center
    li
      padding: 3px
      &.active
        a
          color: #fff
          background: $brown
      a
        width: 49px
        height: 49px
        +flex
        +ai-center
        +j-center
        +border-radius(50%)
        background: #fff
        color: $brown
        text-decoration: none
        font-size: 20px
        font: $font
        @media (max-width: 1100px)
          width: 40px
          height: 40px
          font-size: 18px
        @media (max-width: 767px)
          font-size: 16px
          width: 35px
          height: 35px
        &:hover
          color: #fff
          background: $brown







.card_item
  &.nursing
    padding: 7px
    +flex
    +wrap
    .c_left
      width: 47%
      @media (max-width: 1100px)
        width: 100%
      .card_img_link
        +flex
        @media (min-width: 1101px)
          margin-bottom: 0

    .c_right
      width: 53%
      padding: 10px
      +flex
      +ai-center
      +j-center
      @media (max-width: 1100px)
        width: 100%

      .mw
        max-width: 250px
      .card_item_name
        text-align: left
        margin-bottom: 30px
        @media (max-width: 1200px)
          margin-bottom: 20px
        @media (max-width: 1100px)
          margin-bottom: 10px
      .c_list
        li
          margin-bottom: 10px
          @media (max-width: 767px)
            margin-bottom: 5px
          a, span
            display: inline-block
            position: relative
            padding-left: 25px
            font-size: 15px
            color: $black
            text-decoration: none
            line-height: 28px
            font-family: $Source_Sans_Pro
            &:before
              +b_a
              left: 0
              top: 0
              bottom: 0
              margin: auto
            &.location
              &:before
                width: 16px
                height: 18px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 0.25C9.98912 0.25 11.8968 1.04018 13.3033 2.4467C14.7098 3.85322 15.5 5.76088 15.5 7.75C15.5 11.3337 13.0812 14.6325 8.335 17.6525C8.23484 17.7161 8.11864 17.7499 8 17.7499C7.88136 17.7499 7.76516 17.7161 7.665 17.6525C2.91875 14.6325 0.5 11.3337 0.5 7.75C0.5 5.76088 1.29018 3.85322 2.6967 2.4467C4.10322 1.04018 6.01088 0.25 8 0.25ZM8 5.25C7.33696 5.25 6.70107 5.51339 6.23223 5.98223C5.76339 6.45107 5.5 7.08696 5.5 7.75C5.5 8.41304 5.76339 9.04893 6.23223 9.51777C6.70107 9.98661 7.33696 10.25 8 10.25C8.66304 10.25 9.29893 9.98661 9.76777 9.51777C10.2366 9.04893 10.5 8.41304 10.5 7.75C10.5 7.08696 10.2366 6.45107 9.76777 5.98223C9.29893 5.51339 8.66304 5.25 8 5.25Z' fill='%2385B1D6'/%3e%3c/svg%3e ")
            &.phone
              &:before
                width: 15px
                height: 15px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.81005 4.97049C9.22876 5.67357 10.6528 6.68797 12.0175 6.94277C10.9928 9.30592 8.90916 10.9245 6.58075 11.7971C6.61725 10.7349 6.41239 9.6945 6.11873 9.19889C5.50026 8.16089 3.72264 8.16261 2.14213 9.20295C0.561995 10.2434 -0.219176 11.9272 0.396229 12.9644C1.01133 14.0027 3.80977 15.7169 5.39181 14.677C5.4448 14.6411 5.49179 14.5965 5.54222 14.5553C6.11546 14.5358 6.74842 14.2551 7.26986 14.0704C9.99499 13.1056 12.4468 11.1536 13.846 8.48857C14.2264 7.76072 14.7537 6.66311 14.5552 5.78462C15.268 4.34451 15.0215 2.02739 14.5317 1.20349C13.9148 0.164869 12.1362 0.168239 10.5545 1.20759C8.9755 2.24836 8.19391 3.93143 8.81005 4.97049Z' fill='%2385B1D6'/%3e%3cpath d='M8.6223 4.54252C9.04223 5.24724 10.4655 6.26076 11.831 6.51538C10.8064 8.87984 8.72301 10.4982 6.39428 11.3697C6.43054 10.3076 6.22586 9.26817 5.93253 8.772C5.31393 7.73376 3.53603 7.73497 1.95559 8.77662C0.375245 9.81549 -0.405647 11.4998 0.210981 12.5386C0.826004 13.5756 3.62389 15.2888 5.20544 14.2492C5.25885 14.214 5.30584 14.1695 5.35641 14.1285C5.92917 14.1093 6.56261 13.8283 7.08406 13.6436C9.80918 12.6788 12.26 10.7261 13.659 8.06147C14.0408 7.33486 14.5677 6.23648 14.3683 5.35752C15.0822 3.91773 14.8354 1.60076 14.3448 0.776392C13.7287 -0.261356 11.9498 -0.25784 10.3686 0.78122C8.78945 1.82173 8.00716 3.50352 8.6223 4.54252Z' fill='%2385B1D6'/%3e%3c/svg%3e ")
            &.email
              &:before
                width: 18px
                height: 18px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.1648 3C16.0967 2.99298 16.028 2.99298 15.9598 3H1.95982C1.8701 3.00138 1.78096 3.01484 1.69482 3.04L8.91982 10.235L16.1648 3Z' fill='%2385B1D6'/%3e%3cpath d='M16.9048 3.695L9.62484 10.945C9.43748 11.1313 9.18403 11.2358 8.91984 11.2358C8.65566 11.2358 8.40221 11.1313 8.21484 10.945L0.999844 3.75C0.977663 3.83152 0.965903 3.91552 0.964844 4V14C0.964844 14.2652 1.0702 14.5196 1.25774 14.7071C1.44527 14.8946 1.69963 15 1.96484 15H15.9648C16.2301 15 16.4844 14.8946 16.672 14.7071C16.8595 14.5196 16.9648 14.2652 16.9648 14V4C16.9609 3.89583 16.9406 3.79292 16.9048 3.695ZM2.64984 14H1.95484V13.285L5.58984 9.68L6.29484 10.385L2.64984 14ZM15.9548 14H15.2548L11.6098 10.385L12.3148 9.68L15.9498 13.285L15.9548 14Z' fill='%2385B1D6'/%3e%3c/svg%3e ")



.gift_page_container
  background: #fff
  +box-shadow(0px 0px 30px rgba(0, 0, 0, 0.06))
  +border-radius(8px)
  padding: 53px 0
  margin-top: 25px
  @media (max-width: 1200px)
    padding: 30px 0
.gift_photo
  +flex
  +ai-center
  +j-center
  @media (max-width: 767px)
    margin-bottom: 30px
.gift_info
  +flex
  +ai-center
  padding-right: 20px
  padding-left: 20px
  @media (max-width: 767px)
    +j-center

  .gift_info_content
    max-width: 365px
    h1
      margin-bottom: 40px
      @media (max-width: 1200px)
        margin-bottom: 30px
    .btn_default
      width: 100%
      max-width: 280px
      text-align: center
.gift_list
  margin-bottom: 45px
  @media (max-width: 1200px)
    margin-bottom: 35px
  li
    +flex
    +ai-center
    margin-bottom: 8px
    span
      color: $brown
      font-size: 16px
      span
        color: $black
    img
      margin-right: 10px



.gift_page_content
  padding-top: 60px
  @media (max-width: 1200px)
    padding-top: 40px
  .desc
    font-family: $Source_Sans_Pro
    line-height: 26px
    p
      margin-bottom: 35px
    ul
      margin-bottom: 30px
      li
        margin-bottom: 5px


.gift_options
  @media (max-width: 767px)
    +flex
    +wrap
    +j-center
    width: 100%
  .gift_option_item
    width: 100%
    max-width: 205px
    height: 205px
    +border-radius(5px)
    +box-shadow(0px 0px 30px rgba(0, 0, 0, 0.06))
    background: #fff
    margin-bottom: 30px
    padding: 10px
    +flex
    +ai-center
    +j-center
    text-align: center
    @media (max-width: 767px)
      margin: 10px
    picture
      margin-bottom: 25px
      display: inline-block
    .text
      color: $blue
      text-transform: uppercase
      font-size: 22px
      line-height: 19px



.mb_40
  margin-bottom: 40px
  @media (max-width: 1200px)
    margin-bottom: 30px
  @media (max-width: 575px)
    margin-bottom: 20px
.title_box
  +box-shadow(0px 0px 30px rgba(0, 0, 0, 0.06))
  +border-radius(8px)
  background: #fff
  width: 100%
  height: 128px
  +flex
  +ai-center
  +j-center
  text-decoration: none
  color: $black
  &:hover, &:focus
    text-decoration: none
    color: $purple
  @media (max-width: 1200px)
    height: 100px
  @media (max-width: 1100px)
    height: 90px
  @media (max-width: 767px)
    height: 80px
  h1, .h1
    margin-bottom: 0



.right_content
  +box-shadow(0px 0px 30px rgba(0, 0, 0, 0.06))
  +border-radius(8px)
  background: #fff
  padding: 60px 30px
  @media (max-width: 1200px)
    padding: 30px
  @media (max-width: 767px)
    padding: 20px
  @media (max-width: 575px)
    padding: 15px
  h1, .h1
    text-align: center
    margin-bottom: 12px

.registration_form
  max-width: 600px
  margin: auto

.field
  margin-bottom: 32px
  position: relative
  @media (max-width: 1200px)
    margin-bottom: 30px
  @media (max-width: 767px)
    margin-bottom: 20px
  @media (max-width: 575px)
    margin-bottom: 10px
label
  color: $black
  font-size: 16px
  font-family: $Source_Sans_Pro
  margin-bottom: 5px

.forgot_your_password
  position: absolute
  right: 40px
  bottom: 13px
  color: $purple
  font-family: $Source_Sans_Pro
  text-decoration: none
  &:hover
    text-decoration: none


.form-control
  font-size: 16px
  color: $black
  background: $grey_light
  font-family: $Source_Sans_Pro
  height: 50px
  width: 100%
  +border-radius(3px)
  border: 0
  @media (max-width: 1200px)
    height: 40px
    font-size: 14px
  @media (min-width: 1201px)
    padding-left: 28px

  &[type="password"]
    padding-right: 140px

  &:focus
    background: $grey_light
  &::-webkit-input-placeholder
    color: $black
    opacity: 0.4
    font-family: $Source_Sans_Pro
    font-size: 16px
    @media (max-width: 1200px)
      font-size: 14px
  &::-moz-placeholder
    color: $black
    opacity: 0.4
    font-family: $Source_Sans_Pro
    font-size: 16px
    @media (max-width: 1200px)
      font-size: 14px
  &::-ms-input-placeholder
    color: $black
    opacity: 0.4
    font-family: $Source_Sans_Pro
    font-size: 16px
    @media (max-width: 1200px)
      font-size: 14px
  &:-moz-placeholder
    color: $black
    opacity: 0.4
    font-family: $Source_Sans_Pro
    font-size: 16px
    @media (max-width: 1200px)
      font-size: 14px
  &:-ms-input-placeholder
    color: $black
    opacity: 0.4
    font-family: $Source_Sans_Pro
    font-size: 16px
    @media (max-width: 1200px)
      font-size: 14px



.checkbox
  position: relative
  &.agree
    input
      + label
        @media (max-width: 1200px)
          font-size: 13px
        @media (max-width: 575px)
          font-size: 12px
  input
    position: absolute
    opacity: 0
    &:checked
      + label
        &:before
          background: $blue
        &:after
          opacity: 1
    + label
      position: relative
      display: inline-block
      padding-left: 40px
      color: $black
      font-size: 15px
      line-height: 15px
      font-family: $Source_Sans_Pro
      &:before
        +b_a
        left: 0
        top: 0
        bottom: 0
        margin: auto
        width: 23px
        height: 23px
        +border-radius(3px)
        border: 1px solid $blue
      &:after
        +b_a
        left: 4px
        top: 0
        bottom: 0
        margin: auto
        width: 15px
        height: 13px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.1409 1.1543H12.9804C12.8177 1.1543 12.6634 1.229 12.5637 1.35684L5.71892 10.0278L2.43679 5.86914C2.38714 5.8061 2.32386 5.75513 2.25169 5.72005C2.17952 5.68497 2.10034 5.6667 2.02009 5.6666H0.859644C0.748413 5.6666 0.686987 5.79443 0.755054 5.88076L5.30222 11.6415C5.51472 11.9104 5.92312 11.9104 6.13728 11.6415L14.2455 1.3668C14.3136 1.28213 14.2521 1.1543 14.1409 1.1543Z' fill='white' stroke='white'/%3e%3c/svg%3e ")
        opacity: 0


form
  .btn_default
    width: 100%
    max-width: 387px
    text-align: center
    font-family: $font_reg
    font-size: 14px

.personal_content
  padding: 40px 0
  @media (max-width: 1200px)
    padding: 30px 0


.authorization_form
  max-width: 386px
  margin: auto